
.features-section {

    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    padding: 8rem 0;
}


.features-section .features-header {
    text-align:center;
    font-weight:900;
    font-size:7rem;
    margin-bottom:20vh
}


.features-section-text {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap:5rem;
    text-align:center;


}


.features-block {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content: center;
    gap:3rem;

    padding: 0 1rem;
}

.features-block h2 {
    font-weight:900;
    font-size:2.5rem;
}

.features-block p {
    font-size:1rem;
    line-height:1.5rem;
    
    min-height:6.6rem;
    /* purpose is for  */
}


.features-block .upper {
    width:3rem;
    height:3rem;
}

.features-block .lower {
    width:12rem;
    height:12rem;
}

.features-block .football-field {
    width:12rem;
    height:12rem;
}



.features-video-section {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    text-align:center;
    
    margin-top:20vh;

    gap:3rem;
}


.features-video-caption {
    font-weight:900;
    font-size:2.5rem;
}


.features-video-card {
    width:60vw;
    height:80vh;
    border-radius:40px;

    overflow:hidden;

}

.features-video {
    width:100%;
    height: 100%;
    object-fit:cover;
    display:block;

}
