.footer {
    margin-top:5rem;
    background-color:black;
    display:flex;
    padding:30px 120px;
    align-items:center;
    justify-content:space-between;
}

.footer a {
    text-decoration: none;
    color:white;    
}

.footer a:hover {
    text-decoration: underline;
}


.footer p {
    font-size:0.9rem;
    font-weight:500;
    text-transform:uppercase;
    color:white;
}
