
.hero-container {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center;  */
    /* i dont know but it might look better this way the white on the edges gives some type of feel */
    margin:0px;
    padding: 0px;
}




.hero-image {
    background-image: url(../img/Hero-Img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    min-height:125vh;
    padding:102px;

}

.hero-text {
    text-align: center;
    font-weight: 900px;
    font-size:48px;

    padding-top:

}
