.hero-image {
    background-image: url(../img/Hero-Img.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    font-weight: 900px;
    font-size:50px;
    min-height:150vh;

    display:flex;
    flex-direction: column;

    padding:48px;

}


.hero-text {
    text-align: center;
    margin-top: 48px;
}
