* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* includes padding and border in width and height of element  */

}


body {
  font-family : "Montserrat", sans-serif;
  background: white;
  color:black;
  min-height: 100vh;
}