html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0; 
  /* includes padding and border in width and height of element  */

}

body {
  font-family : "Montserrat", sans-serif;
  background: white;
  min-height: 100vh;
}